.parent {
  text-align: center;
  border: 1px solid gray;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px;
}

h2 {
  text-align: center;
  color: #1976d2;
}

.list-container {
  text-align: center;
}

ul {
  display: inline-block;
  padding: 0px;
}

li {
  list-style: none;
  color: #1976d2;
  font-weight: 700;
  margin-top: 3px;
}
